.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  min-height: 100vh;
  background-size: cover;
}

@media screen and (min-width: 576px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}

.response-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.heading-card {
  display: flex;
  align-items: center;
}

.ipl-logo {
  height: 30px;
  width: 40px;
  margin-right: 8px;
}

@media screen and (min-width: 576px) {
  .ipl-logo {
    height: 40px;
    width: 50px;
    margin-right: 8px;
  }
}

.main-heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 24px;
  font-weight: 600;
}

@media screen and (min-width: 576px) {
  .main-heading {
    font-size: 36px;
  }
}

.team-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
}
